/* src/pages/AdminPage/components/Modals/CommonModal.module.scss */

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modalContainer {
  background-color: #fff;
  max-height: calc(100vh - 60px);
  box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto; // Sửa
  position: relative;
  transform: scale(1);
  transition: 0.3s ease;
  width: 800px; /* Mặc định */
  padding-bottom: 20px;
}

.modalClose {
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  i {
    transition: all 0.4s;
    color: #fff;
  }
  &:hover i {
    transform: rotate(180deg);
  }
}

.modalContainerTitle {
  display: inline-block;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

/* --- RESPONSIVE (từ admin-responsive.css) --- */
@media only screen and (max-width: 470px) {
  .modal {
    z-index: 102;
  }
  .modalContainer {
    min-height: 100vh;
    width: 100% !important;
    border-radius: 0;
    margin-left: 0; // Reset
  }
}
