/* src/pages/AdminPage/components/Modals/ProductModal.module.scss */

.addProductForm {
  display: flex;
}
.addProductForm > div {
  width: 50%;
  padding: 0 20px;
}
.modalContentLeft {
  border-right: 1px solid #eee;
}
.uploadImagePreview {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 20px;
  border: 1px solid #eee;
}
.formGroup {
  margin-bottom: 10px;
}
.formGroupFile {
  text-align: center;
  margin-top: 20px;
}
.fileInput {
  display: none;
}
.formLabel {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.formLabelFile {
  background-color: var(--red);
  color: #fff;
  padding: 8px 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  position: relative;
  margin: auto;
  cursor: pointer;
  i {
    font-size: 15px;
    margin-right: 8px;
    cursor: pointer;
  }
}

.formControl {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s linear;
  &:focus {
    border-color: var(--red);
  }
  &[type="number"] {
    padding-right: 8px;
  }
}

.productDesc {
  width: 100%;
  height: 100px;
  border: 1px solid #e5e5e5;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-family: inherit;
  resize: vertical;
  &:focus {
    border-color: var(--red);
  }
}

.formSubmit {
  height: 40px;
  background-color: var(--red);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  i {
    margin-right: 6px;
  }
}

/* --- RESPONSIVE (tá»« admin-responsive.css) --- */
@media only screen and (max-width: 470px) {
  .add-product-form {
    flex-direction: column;
  }
  .addProductForm > div {
    width: 100%;
  }
  .modalContentLeft {
    border-right: none;
  }
  .uploadImagePreview {
    width: 100%;
    height: 250px;
  }
  .formSubmit i {
    margin-right: 4px;
  }
}
