.container {
  display: flex;
}

.content {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  /* Thêm transition để nội dung mượt mà khi sidebar thay đổi */
  transition: margin-left 0.2s ease-in-out;
}

.accessDeniedSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.accessDeniedImg {
  width: 100%;
  max-width: 600px;
}
